.dashboard div{
    background-size: cover;
    background-position: center;
    border: solid 2px #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.universe{
    background-image: url('../images/space1.jpg');
    height: 100px;
}
.number{
    background-image: url('../images/space4.jpg');
    height: 350px;
}
.dashboard h2{
    color:#5F8BAE;
}
.dashboard p{
    color: #ffffff;
    font-size: 15px;
}
.dashboard span{
    color:#5F8BAE;
    text-transform: uppercase;
}
.dashboard button{
    background-color: #000;
    border: #fff solid 2px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    width: fit-content;
}
.number button{
    align-self: flex-end;
}
.number section{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.number aside{
    display: flex;
    gap: 10px;
    align-items: center;
    border: solid 1px #fff;
    padding: 15px;
    background-color: #00000067;
    height: 100px;
}
aside img{
    height: 50px;
    width: auto;
}
.number aside div{
    border: none;
    padding: 0;
}
aside h3{
    color: #5F8BAE;
    font-weight: 500;
    margin-bottom: 10px;
}