html,body{
    height: 100%;
}
body{
    font-family: Roboto, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    align-items: center;
    border-bottom: #ffffff solid 2px;
    border-top: #ffffff solid 2px;
    padding: 15px 0;
    height: 70px;
}
img{
    width: 300px;
}
a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 50px;
}
.navbar-left{
    padding-top: 25px;
    width: 150px;
    border-right: solid 2px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.navbar-left img{
    height: 70px;
    width: auto;
    object-fit: cover;
}
.navbar-left a {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.section-page{
    display: flex;
    flex: 1;
    width: 100%;
}
.dashboard{
    width: 95%;
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.dashboard div{
    background-size: cover;
    background-position: center;
    border: solid 2px #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.universe{
    background-image: url('./space1.jpg');
    height: 100px;
}
.number{
    background-image: url('./space4.jpg');
    height: 350px;
}
.dashboard h2{
    color:#5F8BAE;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.dashboard p{
    color: #ffffff;
    font-size: 15px;
}
.dashboard span{
    color:#5F8BAE;
    text-transform: uppercase;
}
.dashboard button{
    background-color: #000;
    border: #fff solid 2px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    width: fit-content;
}
.number button{
    align-self: flex-end;
}
.number section{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.number aside{
    display: flex;
    gap: 10px;
    align-items: center;
    border: solid 1px #fff;
    padding: 15px;
    background-color: #00000067;
    height: 100px;
}
aside img{
    height: 50px;
    width: auto;
}
.number aside div{
    border: none;
    padding: 0;
}
aside h3{
    color: #5F8BAE;
    font-weight: 500;
    margin-bottom: 10px;
}